:host{
  margin: 5px;
  position: sticky;
  top: 0.5vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  max-height: 99vh;
  border-radius: 15px;
  animation: left-entry 300ms ease-in-out;
}
ul{
  margin: auto;
}
li{
  list-style: none ;
}
@keyframes left-entry {
  0%{
    transform: translate(-30%);
  }
  80%{
    transform: translate(5%);
  }
}

@media screen and (max-width:900px) {
  :host{
    position: fixed;
  }
}