:host{
  margin: 5px;
  position: sticky;
  top: 0.5vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 12vw;
  max-height: 99vh;
  border-radius: 15px;
  animation: left-entry 300ms ease-in-out;
}
li{
  list-style: none ;
}
@keyframes left-entry {
  0%{
    transform: translate(-30%);
    min-width: 9vw;
  }
  80%{
    transform: translate(5%);
  }
}