:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
  text-align: center;
}
ul {
  text-align: start;
}
h1 {
  font-weight: bold;
  font-size: 4.5em;
  position: relative;
  word-spacing: -0.5em;
  letter-spacing: 0.2em;
}
h1::after {
  content: "|";
  animation: breathing 0.8s infinite alternate ease-in-out;
  position: absolute;
  font-weight: 300;
  margin-left: -25px;
}
.hero-section-photo {
  color: black;
  display: flex;
  min-width: 200px;
  width: 260px;
  height: 400px;
  max-height: 40vh;
  padding: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 70px;
  animation: photoEntry 400ms ease-in-out;
  box-shadow: 2px 2px 2px gray;
  border-radius: 1px 10% 3px 1px;
  perspective: 200em;
  border: none;
  background-color: white;
  rotate: 4deg;
  transition: all 0.5s;
}
.hero-section-photo::after {
  content: "";
  width: 100%;
  background: lightgrey url("/images/My-Photo.png");
  background-position: center;
  border: 0.2px rgb(175, 175, 175) solid;
  background-size: cover;
  border-radius: 0 3.3% 0 0;
}
.hero-section-photo::before {
  content: "Dilan Bernal";
  font-weight: 600;
  top: 88%;
  transform: translate(-5%, 0%);
  position: absolute;
  width: 100%;
}
.hero-section-photo:hover {
  transform: scale(1.1);
  rotate: 2deg;
  box-shadow: 5px 5px 3px gray;
  span {
    animation: outShadow 0.4s forwards;
    background: none;
  }
}
.hero-section-photo span {
  position: absolute;
  right: 0;
  animation: inShadow 0.4s forwards;
  top: 0;
  width: 100%;
  background: radial-gradient(
    circle at 200% -60%,
    rgba(28, 28, 28, 1) 10%,
    transparent 80%
  );
  transition: 0.5s;
  height: 100%;
}

@keyframes breathing {
  0% {
    overflow: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textEntry {
  0% {
  }
}

@keyframes outShadow {
  @for $i from 0 through 10 {
    #{10% * $i} {
      $opacity: 0.8 - ($i * 0.08);
      background: radial-gradient(
        circle at 200% -40%,
        rgba(28, 28, 28, $opacity) 10%,
        transparent 80%
      );
    }
  }
}

@keyframes inShadow {
  @for $i from 0 through 10 {
    #{10% * $i} {
      $opacity: 0.1 + ($i * 0.08);
      background: radial-gradient(
        circle at 200% -40%,
        rgba(28, 28, 28, $opacity) 10%,
        transparent 80%
      );
    }
  }
}

@keyframes photoEntry {
  0% {
    rotate: -10deg;
    box-shadow: 20px 20px 10px gray;
    scale: 1.4;
    transform: translate(100%, 20%);
  }
}
