@use '../../../variables.component.scss' as *;
$animation-time: 0.2s;
$shadow-polaroid-color: rgb(105, 105, 105);

:host {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  height: 100vh !important;
  justify-content: center;
  width: 100%;
  text-align: center;
}
* {
  animation: textEntry 0.3s;
}
ul {
  text-align: start;
}
h1 {
  font-weight: bold;
  font-size: 4.5em;
  position: relative;
  letter-spacing: 0.05em;
}
h1::after {
  content: "|";
  animation: breathing 0.8s infinite alternate ease-in-out;
  position: absolute;
  font-weight: 300;
  margin-left: -5px;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes breathing {
  0% {
    overflow: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-height: 900px) {
  :host {
    height: 130vh;
  }
  .hero-section-photo-container {
    width: 70%;
  }
}
