@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons.css";

$gradient-color-1: #24243e 2%;
$gradient-color-2: #302b63 30%;
$gradient-color-3: #0f0c29  130%;
$gradieng-angle: 70deg;

body{
  background-color: black;
  color: whitesmoke;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  margin: 0;
  background: #0f0c29;
  background: -webkit-linear-gradient($gradieng-angle, $gradient-color-1, $gradient-color-2, $gradient-color-3);
  background: linear-gradient($gradieng-angle, $gradient-color-1, $gradient-color-2, $gradient-color-3);
}
*{
  box-sizing: border-box;
}
main{
  padding: 15px;
}
app-root{
  display: grid;
  grid-template-columns: 0.15fr 1fr;
}

@media screen and (max-width: 900px) {
  app-root{
    display: block;
  }
}